<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Ninja</h1>
    <form action="/create/ninja" method="POST">
        <label for="name">Dojo:</label>

    <select name="dojo_id" >
    {% for dojo in all_dojos %}>
    <option value={{dojo.id}}>{{dojo.name}}</option>
    {% endfor %}
    </select>
    <label for="text">First name:</label>
    <input type="text" name="first_name">
    <label for="text">Last name:</label>
    <input type="text" name="last_name">
    <label for="">age:</label>
    <input type="number" name="age">
    <button>Create</button>
    </form>
    <a href="/">Home</a>
</body>
</html>